body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21143d;
    margin: 0;
    gap: 20px;
}

canvas {
    background: rgb(255, 196, 245);
    outline: none;
    pointer-events: all;
}

.overlay-container {
    grid-template-areas: "layer";
    display: grid;

    & > * {
        grid-area: layer;
    }
}
