#gui {
    display: grid;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

#health {
    --full-width: 18rem;
    --percentage: 1;
    background-color: green;
    width: calc(var(--full-width) * var(--percentage));
    height: 1.5rem;
    margin: 1rem 0 0 1rem;
    border-radius: 9999px;
}

#ability-group {
    display: flex;
    margin-top: auto;
    margin-inline: auto;
    margin-bottom: 1rem;
    gap: 2rem;
}
